nav{
  height : 100px;
  border : 1px solid gray;
  display : flex;
  justify-content: space-between;
  align-items : center;
}
nav>*{
  /* border : 1px solid gray; */
  height : 50px;
  flex : 1 0 100px;
}
nav>.leftmenu{
  flex-grow : 2;
}
nav>.center{
  flex-grow : 1;
  align-self : stretch;
  height : 100%;
  
  /* 로고 중앙 배치 */
  /* display : flex;
  justify-content : center;
  align-items : center; */

  /* position 로고 중앙배치 */
  position : relative;

}
nav img{
  width : 80px;
  height : 80px;
  /* border : 1px solid gray; */
  display : block;
  position : absolute;
  top : 0px;
  bottom : 0px;
  left : 0px;
  right : 0px;
  margin : auto;
}



nav>.rightmenu{
  flex-grow : 2;
}


/* MediaQuery 적용 위한 추가 CSS */
nav .leftmenu, .rightmenu{
  font-size : 2rem;
  display : flex;
  align-items : center;

}

nav .rightmenu{
  justify-content : space-between;
}

nav span{
  font-size : 2rem;
}

nav>.leftmenu>.search>input{
  width : 100px;
  height : 35px;
  outline : none;
  padding-left : 35px;
  font-size : 18px;
  
}
nav>.leftmenu>.search{
  position: relative;
  /* border : 1px solid gray; */
  width : 150px; 
  /* height :  35px; */
  align-self : stretch;
  display : flex;
  align-items : center;
}

nav>.leftmenu>.search>i{
  position : absolute;
  top : 5px;
  bottom : 0px;
  left : 0px;
  right : 0px;
  margin : auto;
  color : gray;
}

nav>.leftmenu>.search>input:active{
  width:100px;
}

nav .rightmenu>div:nth-child(1) {
  flex-grow : 2;
  text-align : right;
}

nav .rightmenu>div:nth-child(2) {
  flex-grow : 0;
}